/* #posts-index img {
  width: 400px;
  max-height: 400px;
}

#posts-new img {
  width: 800px;
}

html {
  scroll-behavior: smooth;
}

header {
  text-align: left;
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

button {
  border-radius: 4px;
  background-color: bisque;
  border: 1px;
  padding: .5px;
} */

#root {
  font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  background-image: url("./src/assets/the-inspiration-gallery-2.jpg");
}

.card-title {
  font-weight: bold;
}